<section class="industries py-10" id="industries">
  <div class="container px-5 md:px-20">
    <div class="head-section">
      <h2 class="text-xl md:text-4xl text-center font-bold">
        Unlock the Power of Artification's Computer Vision Solutions Across Industries
      </h2>

      <p class="md:text-center md:px-20 text-sm mt-5 text-gray-600">
        Artification's industry-agnostic computer vision solutions deliver continuous real-time data to optimize operations. Our computer vision analytics provide actionable insights, and our comprehensive computer vision services ensure you have the expertise and support required for success. By leveraging our AI vision platform, industries gain immediate access to more powerful and precise insights, driving impactful business decisions and enhancing operational efficiency.
      </p>
    </div>

    <div class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-6 mt-10">
      <!-- Card logistics -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/Delivery_and_Dispatch_Tracking_842x737-3.webp"
          alt="logistics"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/logistics_1.png"
            alt="logistics icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/logistics_1.png"
              alt="logistics icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Retail</h3>
          </div>
        </div>
      </div>

      <!-- Card Warehouse -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/Heatmapping_and_Traffic_Analytics_842x737.webp"
          alt="Heatmapping and Traffic Analytics"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/warehouse_1.png"
            alt="Warehousing icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/warehouse_1.png"
              alt="Warehousing icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Warehousing</h3>
          </div>
        </div>
      </div>

      <!-- Card Mining-->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/Labor_Productivity_1080x514.webp"
          alt="Mining"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/mining_1.png"
            alt="Mining icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/mining_1.png"
              alt="Mining icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Mining</h3>
          </div>
        </div>
      </div>

      <!-- Card Manufacturing -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/manufacturing_card.webp"
          alt="manufacturing"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/manufacturing_1.png"
            alt="manufacturing icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/manufacturing_1.png"
              alt="manufacturing icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Manufacturing</h3>
          </div>
        </div>
      </div>

      <!-- Card Construction -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/smart_construction_card.webp"
          alt="Construction"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/construction_1.png"
            alt="Construction icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/construction_1.png"
              alt="Construction icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Construction</h3>
          </div>
        </div>
      </div>

      <!-- Card Restaurants -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/smart_restaurants_card.webp"
          alt="Restaurants"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/restaurants_1.png"
            alt="Restaurants icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/restaurants_1.png"
              alt="Restaurants icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Restaurants</h3>
          </div>
        </div>
      </div>

      <!-- Card Retail -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/smart_retail_card.webp"
          alt="Retail"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/retail_1.png"
            alt="Retail icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/retail_1.png"
              alt="Retail icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Retail</h3>
          </div>
        </div>
      </div>

      <!-- Card Venues -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/smart_venues_card.webp"
          alt="Venues"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/venues_1.png"
            alt="Venues icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/venues_1.png"
              alt="Venues icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Venues</h3>
          </div>
        </div>
      </div>

      <!-- Card Energy -->
      <div class="relative group overflow-hidden rounded-2xl shadow-md hover:shadow-lg transition-all duration-500" >
        <!-- Image -->
        <img
          src="assets/industries/Solar_Farm_Monitoring_842x737-2.webp"
          alt="Energy"
          class="w-full h-50 md:h-full object-cover group-hover:scale-110 transition-transform duration-700"
        />

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/50 group-hover:bg-[#015426]/70 transition-all duration-500 flex flex-col items-center justify-center text-center" >
          <!-- Icon -->
          <img
            src="assets/industries/icons/energy_1.png"
            alt="Energy icon"
            class="w-12 h-12 mb-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          />
          <!-- Title -->
          <div class="flex justify-center items-center gap-1">
            <img
              src="assets/industries/icons/energy_1.png"
              alt="Energy icon"
              class="w-6 h-6"
            />
            <h3 class="text-white font-semibold text-lg tracking-wide">Energy</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
