<section id="ai-cat" class="relative overflow-hidden bg-ai-section text-white py-20 px-5 text-center">
  <div class="absolute inset-0 z-0 animate-gradientMove opacity-90"></div>

  <div class="absolute inset-0 z-0 overflow-hidden">
    <span class="ai-shape top-1/4 left-10 w-40 h-40"></span>
    <span class="ai-shape top-1/2 right-20 w-52 h-52 delay-2000"></span>
    <span class="ai-shape bottom-1/4 left-1/3 w-32 h-32 delay-4000"></span>
  </div>

  <div class="relative z-10 mx-auto space-y-3">
    <h3 class="text-xl md:text-4xl font-bold leading-snug">{{'CONTACT.TITLE' | translate}}</h3>
    <p class="text-gray-200 md:mx-30 text-sm md:text-lg">{{'CONTACT.DESC' | translate}}</p>
    <button class="mt-6 px-8 py-3 bg-[#00ffc3] text-gray-900 rounded-full font-semibold hover:bg-[#00d9a6] transition transform hover:scale-105" >
      {{'CONTACT.BUTTON' | translate}}
    </button>
  </div>
</section>
