<section class="aivision py-10" id="aivision">
  <div class="container px-5 lg:px-20">
    <h2 class="text-xl md:text-4xl text-center font-bold main-color lg:w-[70%] lg:mx-auto">
      {{'VISION.TITLE' | translate}}
    </h2>

    <div class="mt-3 mx-auto mt-6 bg-white border border-gray-200 rounded-2xl shadow-sm divide-y divide-gray-100">
      @for (item of items; track $index) {
        <div class="p-5 cursor-pointer transition-all duration-300 hover:bg-gray-50" (click)="toggle($index)" >
          <div class="flex justify-between items-center">
            <h3 class="text-[#232B4F] font-semibold text-md md:text-lg">{{ item.title | translate}}</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 transition-transform duration-300"
              [ngClass]="{ 'rotate-180 text-[#015426]': openIndex === $index, 'text-gray-400': openIndex !== $index }"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>

          <div
            class="overflow-hidden transition-all duration-500 ease-in-out"
            [style.maxHeight]="openIndex === $index ? '600px' : '0'"
          >
            <p class="text-gray-600 mt-3 text-sm leading-relaxed">{{ item.content | translate}}</p>
          </div>
        </div>
      }
    </div>
  </div>
</section>
