<footer class="bg-gradient-to-b from-[#01542643] to-[#015426] text-gray-900 pt-10 pb-6">
  <div class="container mx-auto px-6 md:px-12 grid grid-cols-1 md:grid-cols-3 gap-8">

    <!-- Logo & About -->
    <div class="footer-info">
      <img src="assets/footer/artifision_logo.avif" class="w-[300px]" alt="">
      <p class="text-sm leading-6 text-white">{{'FOOTER.ABOUT' | translate}}</p>
      <ul class="space-y-3 text-white mt-2">
        <li class="flex items-center space-x-2">
          <i class="fa-solid fa-briefcase text-white text-lg animate-pulse"></i>
          <div class="flex flex-col leading-tight">
            <span class="text-sm">{{'FOOTER.CRN_TITLE' | translate}}</span>
            <span class="font-semibold text-[#aaa]">7051704984</span>
          </div>
        </li>
      </ul>
    </div>

    <!-- Quick Links -->
    <div class="footer-links">
      <h3 class="text-xl font-semibold text-[#015426] mb-3">{{'FOOTER.LINKS_TITLE' | translate}}</h3>
      <ul class="space-y-2 text-white">
        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#home" class="hover:text-[#015426] transition-all duration-300">- {{'FOOTER.LINKS.HOME' | translate}}</a>
        </li>

        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#about" class="hover:text-[#015426] transition-all duration-300">- {{'FOOTER.LINKS.ABOUT' | translate}}</a>
        </li>

        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#aivision" class="hover:text-[#015426] transition-all duration-300">- {{'FOOTER.LINKS.AIVISION' | translate}}</a>
        </li>

        <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#industries" class="hover:text-[#015426] transition-all duration-300">- {{'FOOTER.LINKS.INDUSTRIES' | translate}}</a>
        </li>

         <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#vision-Plate" class="hover:text-[#015426] transition-all duration-300">- {{'FOOTER.LINKS.VISION_PLATE' | translate}}</a>
        </li>

         <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#resources" class="hover:text-[#015426] transition-all duration-300">- {{'FOOTER.LINKS.RESOURCES' | translate}}</a>
        </li>

         <li class="group flex items-center gap-2 cursor-pointer">
          <span class="text-[#222] opacity-0 transform translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300">›</span>
          <a href="#ai-cat" class="hover:text-[#015426] transition-all duration-300">- {{'FOOTER.LINKS.AI_CONTACT' | translate}}</a>
        </li>

      </ul>
    </div>


    <!-- Contact & Social -->
    <div class="footer-contact">
      <h3 class="text-xl font-semibold text-[#015426] mb-3">{{'FOOTER.CONTACT_TITLE' | translate}}</h3>
      <p class="text-sm mb-3 text-white">
        <i class="fa-solid fa-envelope text-[#fff]/80"></i>
        <a href="mailto:info@artifision.com.sa" class="text-[#fff] font-semibold"> info@artifision.com.sa</a>
      </p>
      <p class="text-sm mb-4 text-white">
        <i class="fa-solid fa-phone text-[#fff]/80"></i>
        <a href="tel:+966570555710" class="text-[#fff] font-semibold" target="_blank"> +966570555710</a>
      </p>
      <p class="text-sm mb-4 text-white">
        <i class="fa-brands fa-whatsapp text-[#fff]/80"></i>
        <a href="https://wa.me/+966570555710"  class="text-[#fff] font-semibold" target="_blank"> +966570555710</a>
      </p>

      <div class="flex space-x-2 pb-4 mb-6">
        <a class="text-[#015426] hover:text-green-300 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a class="text-[#015426] hover:text-blue-600 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-facebook"></i>
        </a>
        <a class="text-[#015426] hover:text-sky-500 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-[#015426] hover:text-pink-500 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="text-[#015426] hover:text-yellow-400 text-[25px] transition-all duration-300 transform hover:scale-100 hover:-translate-y-1">
          <i class="fab fa-snapchat"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Divider -->
  <div class="border-t border-[#015426]/20 mt-8 pt-4 text-center text-white text-sm">
    <p>{{'FOOTER.COPYRIGHT' | translate}}</p>
  </div>
</footer>
