<section id="home" class="home w-full h-screen relative overflow-hidden">
  <swiper-container
    class="mySwiper w-full h-full"
    pagination="false"
    gination-dynamic-bullets="true"
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    speed="1000"
    loop="true"
  >
    <!-- Slide 1 -->
    <swiper-slide
      class="relative flex flex-col justify-center items-center text-white text-center bg-cover lg:bg-[length:1400px_900px] lg:bg-[10%_30%] bg-center px-5 md:px-30"
      style="background-image: url('assets/home/home-1.jpg');"
    >
      <div class="bg-black/50 absolute inset-0"></div>
      <div class="relative z-10">
        <h1 class="text-3xl md:text-6xl font-bold mb-4 animate-fadeIn"><span>Empowering</span> Saudi SMBs with AI Analytics systems</h1>
        <p class="text-sm md:text-lg mb-6 animate-fadeIn px-0 lg:px-30">
          Transforming small businesses through innovative technology and real-time insights powered by Artifision's AI solutions
        </p>
        <button class="mt-3">
          <a href="#contact-us" class="bg-transparent border border-1 border-[#fff] hover:bg-[#015426] hover:border-[#015426] text-white font-bold py-3 px-6 rounded-lg transition duration-300 animate-fadeIn">
            Get Started
          </a>
        </button>
      </div>
    </swiper-slide>

     <!-- Slide 2 -->
    <swiper-slide
      class="relative flex flex-col justify-center items-center text-white text-center bg-cover lg:bg-[length:1400px_900px] lg:bg-[10%_30%] bg-center px-5 md:px-30"
      style="background-image: url('assets/home/home-2.jpg');"
    >
      <div class="bg-black/50 absolute inset-0"></div>
      <div class="relative z-10">
        <h1 class="text-3xl md:text-6xl font-bold mb-4 animate-fadeIn"><span>Transforming</span> Ideas into Intelligent Realities</h1>
        <p class="text-lg mb-6 animate-fadeIn px-0 lg:px-30">
          Empowering small and medium-sized businesses with next-generation AI and IoT technologies that streamline operations, boost productivity, and foster sustainable growth in a connected world.
        </p>
        <button class="mt-3">
          <a href="#contact-us" class="bg-transparent border border-1 border-[#fff] hover:bg-[#015426] hover:border-[#015426] text-white font-bold py-3 px-6 rounded-lg transition duration-300 animate-fadeIn">
            Get Started
          </a>
        </button>
      </div>
    </swiper-slide>

     <!-- Slide 3 -->
    <swiper-slide
      class="relative flex flex-col justify-center items-center text-white text-center bg-cover lg:bg-[length:1400px_900px] lg:bg-[10%_30%] bg-center px-5 md:px-30"
      style="background-image: url('assets/home/home-3.jpg');"
    >
      <div class="bg-black/50 absolute inset-0"></div>
      <div class="relative z-10">
        <h1 class="text-3xl md:text-6xl font-bold mb-4 animate-fadeIn"><span>Innovating</span> the Future with AI & IoT</h1>
        <p class="text-lg mb-6 animate-fadeIn px-0 lg:px-30">
          We help businesses unlock their full potential through intelligent automation, smart connectivity, and data-driven innovation.
        </p>
        <button class="mt-3">
          <a href="#contact-us" class="bg-transparent border border-1 border-[#fff] hover:bg-[#015426] hover:border-[#015426] text-white font-bold py-3 px-6 rounded-lg transition duration-300 animate-fadeIn">
            Get Started
          </a>
        </button>
      </div>
    </swiper-slide>

  </swiper-container>
  <div class="absolute z-[30] bottom-0 lg:-bottom-30 left-0 w-full leading-[0] rotate-180">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1" d="M0,160L34.3,186.7C68.6,213,137,267,206,256C274.3,245,343,171,411,154.7C480,139,549,181,617,202.7C685.7,224,754,224,823,202.7C891.4,181,960,139,1029,138.7C1097.1,139,1166,181,1234,218.7C1302.9,256,1371,288,1406,304L1440,320L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
    </svg>
  </div>
</section>
