<section class="vision-Plate py-10 pb-0" id="vision-Plate">
  <div class="container px-5 lg:px-20">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-5 bg-[#373D47] rounded-2xl p-5 pb-0">
      <div class="head-section lg:col-span-2">
        <h2 class="text-xl md:text-4xl text-center font-bold text-white">{{'PLATFORM.TITLE' | translate}}</h2>

        <p class="md:text-center px-0 mt-5 text-[#ccc]">{{'PLATFORM.DESC' | translate}}</p>
      </div>
      <div class="mx-auto shadow-sm divide-y divide-gray-100">
        @for (item of items; track $index) {
          <div class="p-5 cursor-pointer rounded-2xl mt-3" (click)="toggle($index)" >
            <div class="flex justify-between items-center w-full">
              <h3 class="text-[#2BD5BE] font-semibold text-md md:text-lg"><i [class]="'fa-solid ' + item.icon"></i> {{ item.title | translate }}</h3>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 transition-transform duration-300"
                [ngClass]="{ 'rotate-180 text-[#015426]': openIndex === $index, 'text-gray-400': openIndex !== $index }"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </div>

            <div
              class="overflow-hidden transition-all duration-500 ease-in-out"
              [style.maxHeight]="openIndex === $index ? '600px' : '0'"
            >
              <p class="text-[#ccc] mt-3 text-sm leading-relaxed">{{item.content | translate}}</p>
            </div>
          </div>
        }
      </div>
      <div class="relative flex justify-center items-center">
        <img src="assets/New folder/original-91b920c5af3417e456bc46004300944d.gif" class="rounded-t-full" alt="" />
        <div class="absolute inset-0 bg-[#2BD5BE] opacity-40 rounded-t-full"></div>
      </div>
    </div>
  </div>
</section>
